<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


  <!--org.apache.ibatis.builder.xml.XMLConfigBuilder.parseConfiguration-->
  <properties resource="org/apache/ibatis/databases/blog/blog-derby.properties"></properties>

  <settings>
    <!--<setting name="logImpl" value="LOG4J"/>-->
    <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>


  <typeAliases>
    <typeAlias type="cn.liuyiyou.mybatis.domain.Blog" alias="Blog"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--<mapper resource="cn/liuyiyou/mybatis/mapper/BlogMapper.xml"/>-->
    <!--<mapper class="cn.liuyiyou.mybatis.mapper.BlogMapper"></mapper>-->
    <!--<mapper url="file://ccc"></mapper>-->
    <package name="cn.liuyiyou.mybatis.mapper"></package>
  </mappers>

</configuration>